<nav class="green">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">Movies</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#TODO">To Do list</a></li>
      <li><a href="../movies.ejs">Movies</a></li>
      <li><a href="../singleMovie.ejs">Single movie</a></li>
    </ul>
  </div>
</nav>
