<nav class="green">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">Movies</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="Home">Home</a></li>
      <li><a href="/movies">Movies</a></li>
      <li><a href="/singleMovie">Search</a></li>
    </ul>
  </div>
</nav>
